.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media (max-width: 1216px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
  }

  @media (max-width: 579px) {
    grid-template-columns: 1fr;
  }
}

// .container {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   gap: 1rem;

//   @media (max-width: 1216px) {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   @media (max-width: 817px) {
//     grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Kortelės nebebus per plačios */
//     justify-content: center;
//   }

//   @media (max-width: 541px) {
//     grid-template-columns: 1fr; /* Viena kortelė per eilę telefonuose */
//   }
// }
