.container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 857px) {
    flex-direction: column;
    gap: 2rem;
  }
}

// left side

.leftSide {
  display: flex;

  @media (max-width: 857px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    > div:first-child {
      margin-bottom: 1.5rem;
    }
  }
}

.description {
  margin-left: 1rem;

  @media (max-width: 857px) {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}

.circularImage {
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;

  .circularImage img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 1040px) {
    width: 120px;
    height: 120px;
  }
}

.chip {
  display: inline-block;
  padding: 0.5rem 0.7rem;
  border-radius: 30px;
  background-color: #e5ddfb;
  color: $primary-color;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: capitalize;

  @media (max-width: 1040px) {
    font-size: 0.5rem;
  }
}

.name {
  margin: 1rem 0 1.1rem 0;
  font-size: 2.2rem;

  @media (max-width: 1040px) {
    font-size: 1.8rem;
  }
}

.info {
  display: flex;
  color: grey;
  padding-bottom: 15px;
  font-size: 1.3rem;

  svg {
    margin-right: 5px;
  }

  @media (max-width: 1040px) {
    font-size: 1rem;
  }

  @media (max-width: 857px) {
    justify-content: center;
    width: 100%;
  }
}

// right side

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: end;

  @media (max-width: 857px) {
    align-items: center;
    text-align: center;
  }
}

.exportIcon {
  background-color: $primary-color;
  height: 2.2rem;
  width: 2.9rem;
  padding: 0.3rem;
  border-radius: 4px;
  color: #ffff;
}

.contactPerson {
  display: flex;
  color: $primary-color;
  font-size: 1.1rem;
  margin: 1rem 0 1rem;

  p {
    margin: 2px 0 0 0.3rem;
    font-size: 450;
  }
}

.time {
  display: flex;
  color: grey;

  p {
    margin: 2px 0 0 0.3rem;
    font-weight: 450;
  }
}
