.personalInfoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.infoContent {
  display: flex;
  align-items: center;
  gap: 20px;
}
.avatarSection {
  flex-shrink: 0;
}

.infoSection {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 0 10px;

    font-size: 18px;
    color: #333;
  }

  p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;

    strong {
      color: #000;
    }
  }
  @media (max-width: 529px) {
    font-size: 13px;
  }
}
