.hero {
  padding-top: 2rem;
  text-align: center;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.title {
  font-size: 3.5rem;
  line-height: 5rem;

  @media (max-width: 900px) {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

.primary {
  color: $primary-color;
}

.subtitle {
  color: #a8a8a8;
  font-size: 1.5rem;
  padding: 1rem;
}

.searchContainer {
  display: flex;
  margin: 2rem auto;
  width: 30%;
  gap: 1rem;

  @media (max-width: 900px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  
}
