.container {
  padding: 0 3rem 0 3rem;
  max-width: 1570px;
  margin-left: auto;
  margin-right: auto;
}



// .time {
//   display: flex;
//   color: grey;

//   p {
//     margin: 2px 0 0 0.3rem;
//     font-weight: 450;
//   }
// }

// main

// .information {
//   h2 {
//     margin: 1rem 0 1rem 0;
//     font-size: 1.4rem;
//   }
// }

// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;

//   img {
//     width: 150px;
//     height: 100px;
//     border-radius: 9px;
//   }
// }

// .main {
//   margin-top: 4rem;
//   display: grid;
//   grid-template-columns: 75% calc(25% - 50px);
//   column-gap: 50px;
// }

// .bookAppointment {
//     text-transform: capitalize;
//     width: 100%;
//     text-align: center;
// }

// // aside similar business

// .item {
//     width: 100%;
//     display: flex;
//     column-gap: 15px;
//     margin-bottom: 1rem;
// }

// .sbTitle {
//     margin: 1rem 0 1rem 0;
// }

// .sbImage {

//     object-fit: cover;
//     width: 100px;
   
//     height: 105px;
//     border-radius: 0.4rem;

// }



// .sbInfo {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 10px;

//     p:nth-child(2) {
//         color: $primary-color;
//     }

//     p:nth-child(3) {
//         color: grey;
//     }
// }